openapi: 3.0.4
info:
  title: CRE Connect API
  version: 0.4.0
  description: API specification for CRE Connect resources

servers:
  - url: https://cre-connect.api.chain.link/v1
    description: CRE Connect base URL.
  - url: http://localhost:8080
    description: Local development.

tags:
  - name: Health
    description: Service health.
  - name: Networks
    description: Supported networks.
  - name: Wallets
    description: Wallet lifecycle.
  - name: Channels
    description: Channels for watchers, events, and operations.
  - name: Watchers
    description: Watchers scoped to a channel.
  - name: Operations
    description: Operations within a channel.
  - name: Events
    description: Events (poll and historical search).

paths:
  /health-check:
    get:
      tags:
        - Health
      operationId: getHealthCheck
      summary: Health check endpoint
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthCheck"

  /networks:
    get:
      tags:
        - Networks
      operationId: listNetworks
      summary: Retrieves available networks.
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkList"
              example: {data: [], has_more: false}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
  /wallets:
    post:
      tags:
        - Wallets
      operationId: createWallet
      summary: Creates a new wallet.
      requestBody:
        description: Wallet creation parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWallet"
            example: {name: "my-wallet", wallet_owner_address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", chain_selector: "16015286601757825753", wallet_type: "ecdsa"}
      responses:
        "201":
          description: Wallet created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
              example: {wallet_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6", name: "my-wallet", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", chain_selector: "16015286601757825753", wallet_type: "ecdsa", wallet_owner_address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", status: "deployed", allowed_rsa_signers: [], allowed_ecdsa_signers: []}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    get:
      tags:
        - Wallets
      operationId: listWallets
      summary: Retrieves wallets for the organization.
      description: |
        Returns wallets for the organization. Archived wallets are excluded by default.
        To include archived wallets, explicitly specify the archived status in the status filter.
      parameters:
        - in: query
          name: name
          description: Filter wallets by name (case-insensitive partial match)
          schema:
            type: string
        - in: query
          name: chain_selector
          description: Filter wallets by chain selector
          schema:
            type: string
        - in: query
          name: owner
          description: Filter wallets by owner address
          schema:
            $ref: "#/components/schemas/EthereumAddress"
        - in: query
          name: address
          description: Filter wallets by wallet address
          schema:
            $ref: "#/components/schemas/EthereumAddress"
        - in: query
          name: type
          description: Filter wallets by type
          schema:
            $ref: "#/components/schemas/WalletType"
        - in: query
          name: status
          description: Filter wallets by status. Multiple values allowed. Archived wallets are excluded by default when no status filter is specified.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WalletStatus"
          style: form
          explode: true
        - in: query
          name: limit
          description: Maximum number of wallets to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - in: query
          name: offset
          description: Number of wallets to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletList"
              example: {data: [], has_more: false}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
  /wallets/{wallet_id}:
    get:
      tags:
        - Wallets
      operationId: getWallet
      summary: Retrieves a specific wallet by ID.
      parameters:
        - in: path
          name: wallet_id
          required: true
          description: Unique wallet identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Wallet found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
              example: {wallet_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6", name: "my-wallet", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", chain_selector: "16015286601757825753", wallet_type: "ecdsa", wallet_owner_address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", status: "deployed", allowed_rsa_signers: [], allowed_ecdsa_signers: []}
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    patch:
      tags:
        - Wallets
      operationId: updateWallet
      summary: Updates a wallet name.
      parameters:
        - in: path
          name: wallet_id
          required: true
          description: Unique wallet identifier.
          schema:
            type: string
            format: uuid
      requestBody:
        description: Wallet update parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWallet"
            example: {name: "updated-wallet"}
      responses:
        "200":
          description: Wallet updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
              example: {wallet_id: "3fa85f64-5717-4562-b3fc-2c963f66afa6", name: "updated-wallet", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", chain_selector: "16015286601757825753", wallet_type: "ecdsa", wallet_owner_address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", status: "deployed", allowed_rsa_signers: [], allowed_ecdsa_signers: []}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}

  /channels:
    post:
      tags:
        - Channels
      operationId: createChannel
      summary: Creates a new channel.
      requestBody:
        description: Channel creation parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChannel"
            example: {name: "my-channel"}
      responses:
        "201":
          description: Channel created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
              example: {channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", name: "my-channel", status: "active", created_at: 1715698800}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    get:
      tags:
        - Channels
      operationId: listChannels
      summary: Retrieves channels for the organization.
      description: |
        Returns channels for the organization. Archived channels are excluded by default.
        To include archived channels, explicitly specify the archived status in the status filter.
      parameters:
        - in: query
          name: name
          description: Filter channels by name (case-insensitive partial match)
          schema:
            type: string
        - in: query
          name: status
          description: Filter channels by status. Multiple values allowed. Archived channels are excluded by default when no status filter is specified.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ChannelStatus"
          style: form
          explode: true
        - in: query
          name: limit
          description: Maximum number of channels to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - in: query
          name: offset
          description: Number of channels to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelList"
              example: {data: [], has_more: false}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
  /channels/{channel_id}:
    get:
      tags:
        - Channels
      operationId: getChannel
      summary: Retrieves a specific channel by ID.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Channel found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
              example: {channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", name: "my-channel", status: "active", created_at: 1715698800}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    patch:
      tags:
        - Channels
      operationId: updateChannel
      summary: Updates a channel.
      description: |
        Updates channel properties. Can be used to update the name, description, or to transition the channel status (e.g., to archived).
        A channel cannot be archived if it has active watchers.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
      requestBody:
        description: Channel update parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchChannel"
            example: {name: "updated-channel"}
      responses:
        "200":
          description: Channel updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
              example: {channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", name: "updated-channel", status: "active", created_at: 1715698800}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}

  /channels/{channel_id}/watchers:
    post:
      tags:
        - Watchers
      operationId: createWatcher
      summary: Creates a watcher in a channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
      requestBody:
        description: Watcher creation parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWatcher"
            example: {name: "my-watcher", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", service: "dta", events: ["SubscriptionRequested"]}
      responses:
        "201":
          description: Watcher created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
              example: {watcher_id: "a8098c1a-f86e-11da-bd1a-00112444be1e", channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", created_at: 1715698800, status: "active", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", events: ["SubscriptionRequested"], don_family: "zone-a", confidence_level: "finalized"}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    get:
      tags:
        - Watchers
      operationId: listWatchers
      summary: Retrieves watchers for a channel.
      description: |
        Returns watchers for the specified channel. Archived watchers are excluded by default.
        To include archived watchers, explicitly specify the archived status in the status filter.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of watchers to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - in: query
          name: offset
          description: Number of watchers to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
        - in: query
          name: name
          description: Filter watchers by name (case-insensitive partial match)
          schema:
            type: string
        - in: query
          name: status
          description: Filter watchers by status. Multiple values allowed. Archived watchers are excluded by default when no status filter is specified.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WatcherStatus"
          style: form
          explode: true
        - in: query
          name: chain_selector
          description: Filter watchers by chain selector
          schema:
            type: string
        - in: query
          name: address
          description: Filter watchers by contract address
          schema:
            type: string
        - in: query
          name: service
          description: Filter watchers by service. Multiple values allowed.
          example: ["dta"]
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: event_name
          description: Filter watchers by event name
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatcherList"
              example: {data: [], has_more: false}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
  /channels/{channel_id}/watchers/{watcher_id}:
    get:
      tags:
        - Watchers
      operationId: getWatcher
      summary: Retrieves a specific watcher by ID.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: path
          name: watcher_id
          required: true
          description: Unique watcher identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Watcher found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
              example: {watcher_id: "a8098c1a-f86e-11da-bd1a-00112444be1e", channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", created_at: 1715698800, status: "active", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", events: ["SubscriptionRequested"], don_family: "zone-a", confidence_level: "finalized"}
        "404":
          description: Channel or watcher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    patch:
      tags:
        - Watchers
      operationId: updateWatcher
      summary: Updates a watcher.
      description: |
        Updates watcher properties. Can be used to update the name or to transition the watcher status (e.g., to archived).
        When transitioning to archived status, the operation is asynchronous and returns 202 with the watcher in archiving state.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: path
          name: watcher_id
          required: true
          description: Unique watcher identifier.
          schema:
            type: string
            format: uuid
      requestBody:
        description: Watcher update parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWatcher"
            example: {name: "updated-watcher"}
      responses:
        "200":
          description: Watcher updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
              example: {watcher_id: "a8098c1a-f86e-11da-bd1a-00112444be1e", channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", created_at: 1715698800, status: "active", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", events: ["SubscriptionRequested"], don_family: "zone-a", confidence_level: "finalized"}
        "202":
          description: Archive request accepted. The watcher is transitioning to archived state asynchronously.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
              example: {watcher_id: "a8098c1a-f86e-11da-bd1a-00112444be1e", channel_id: "7c9e6679-7425-40de-944b-e07fc1f90ae7", created_at: 1715698800, status: "archiving", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", events: ["SubscriptionRequested"], don_family: "zone-a", confidence_level: "finalized"}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "404":
          description: Channel or watcher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}

  /channels/{channel_id}/operations:
    post:
      tags:
        - Operations
      operationId: createOperation
      summary: Creates a signed operation or draft request, scoped to a channel.
      description: |
        Creates a signed or draft operation first, depending on the presence of a signature.
        Signed operations are relayed immediately. Drafts can be finalized or cancelled later.
        Each transaction may include an optional preview block.
        The operation is scoped to the channel, and will only be visible to the channel.

      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
      requestBody:
        description: Operation creation parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOperation"
            example: {chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", wallet_operation_id: "op-12345", deadline: 0, transactions: [{to: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", value: "0", data: "0x"}]}
      responses:
        "201":
          description: Operation created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
              example: {operation_id: "c1e5b8d0-1234-5678-abcd-ef0123456789"}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    get:
      tags:
        - Operations
      operationId: listOperations
      summary: Retrieves operations for a channel.
      description: |
        Returns operation records for the channel, including audit subjects and preview snapshots when available.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of operations to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - in: query
          name: offset
          description: Number of operations to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
        - in: query
          name: status
          description: Filter operations by status. Multiple values allowed.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/OperationStatus"
          style: form
          explode: true
        - in: query
          name: chain_selector
          description: Filter operations by chain selector
          schema:
            type: string
        - in: query
          name: address
          description: Filter operations by wallet address
          schema:
            type: string
        - in: query
          name: wallet_id
          description: Filter operations by wallet ID
          schema:
            type: string
            format: uuid
        - in: query
          name: initiator_subject_type
          description: Filter operations by initiator subject type.
          schema:
            $ref: "#/components/schemas/SubjectType"
        - in: query
          name: initiator_subject_id
          description: Filter operations by initiator subject ID.
          schema:
            type: string
        - in: query
          name: signer_subject_type
          description: Filter operations by signer subject type.
          schema:
            $ref: "#/components/schemas/SubjectType"
        - in: query
          name: signer_subject_id
          description: Filter operations by signer subject ID.
          schema:
            type: string
        - in: query
          name: canceller_subject_type
          description: Filter operations by canceller subject type.
          schema:
            $ref: "#/components/schemas/SubjectType"
        - in: query
          name: canceller_subject_id
          description: Filter operations by canceller subject ID.
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
              example: {data: [], has_more: false}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
  /channels/{channel_id}/operations/{operation_id}:
    get:
      tags:
        - Operations
      operationId: getOperation
      summary: Gets Operation record for a specific operation.
      description: |
        Returns the operation record.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: path
          name: operation_id
          required: true
          description: Unique operation identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Operation found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
              example: {operation_id: "c1e5b8d0-1234-5678-abcd-ef0123456789", status: "accepted", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", wallet_operation_id: "op-12345", deadline: 0, transactions: [], initiator: {subject_type: "api_key", subject_id: "key-123", subject_name: "my-key"}, signature: null, created_at: 1715698800}
        "404":
          description: Channel or operation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}
    patch:
      tags:
        - Operations
      operationId: finalizeOrCancelOperation
      summary: Finalizes or cancels an operation.
      description: |
        Finalize by sending status accepted with signature and digest.
        Cancel by sending status cancelled with no additional fields.
        The request body is a oneOf with closed branches so invalid combinations and extra fields are rejected.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: path
          name: operation_id
          required: true
          description: Unique operation identifier.
          schema:
            type: string
            format: uuid
      requestBody:
        description: Operation finalization or cancellation parameters.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchOperation"
            example: {status: "cancelled"}
      responses:
        "200":
          description: Operation updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
              example: {operation_id: "c1e5b8d0-1234-5678-abcd-ef0123456789", status: "cancelled", chain_selector: "16015286601757825753", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", wallet_operation_id: "op-12345", deadline: 0, transactions: [], initiator: {subject_type: "api_key", subject_id: "key-123", subject_name: "my-key"}, signature: null, created_at: 1715698800}
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request data."}
        "404":
          description: Channel or operation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "409":
          description: Operation could not be finalized or cancelled because.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "CONFLICT", message: "Operation is in a state that does not allow this transition."}

  /channels/{channel_id}/events:
    get:
      tags:
        - Events
      operationId: listChannelEvents
      summary: Retrieves events from a channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of events to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 200
        - in: query
          name: offset
          description: Offset for message-oriented pagination. If not provided, the API returns the latest limit events ordered by descending offset.
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventList"
              example: {events: [], has_more: false}
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request parameters."}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}

  /channels/{channel_id}/events/search:
    get:
      tags:
        - Events
      operationId: searchChannelEvents
      summary: Query and search historical events from a channel.
      description: |
        Retrieves events with filtering capabilities. Use this endpoint for historical queries and searches. For real-time polling, use the /events endpoint.

        Note: Some query parameters only apply to specific event types. Invalid parameter combinations for a given event type will result in a 400 Bad Request response:
        - operation.status: status, chain_selector, address, wallet_operation_id
        - watcher.status: watcher_id, status, chain_selector
        - watcher.event: watcher_id, chain_selector, address, event_name, service
        - wallet.status: wallet_id, status, chain_selector, address

        Universal parameters (apply to all types): type, limit, offset, created.*
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of events to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - in: query
          name: offset
          description: Offset for message-oriented pagination
          schema:
            type: integer
            format: int64
            minimum: 0
        - in: query
          name: type
          description: Filter events by type. Multiple values allowed.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EventType"
          style: form
          explode: true
        - in: query
          name: created.lt
          description: Filter events created before this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: created.lte
          description: Filter events created at or before this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: created.gt
          description: Filter events created after this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: created.gte
          description: Filter events created at or after this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: chain_selector
          description: Filter by chain selector
          example: ["16015286601757825753"]
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: status
          description: Filter by operation status. Multiple values allowed.
          example: ["confirmed"]
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: watcher_id
          description: Filter by watcher ID (applies to watcher.status and watcher.event types)
          schema:
            type: string
            format: uuid
        - in: query
          name: wallet_id
          description: Filter by wallet ID (applies to wallet.status type)
          schema:
            type: string
            format: uuid
        - in: query
          name: address
          description: Filter by wallet address. Multiple values allowed.
          example: ["0x742d35Cc6634C0532925a3b844Bc454e4438f44e"]
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EthereumAddress"
          style: form
          explode: true
        - in: query
          name: wallet_operation_id
          description: Filter by wallet operation ID (applies to operation.status type)
          schema:
            type: string
        - in: query
          name: operation_id
          description: Filter by operation ID (applies to operation.status type)
          schema:
            type: string
        - in: query
          name: event_name
          description: Filter by event name (applies to watcher.event type)
          schema:
            type: string
        - in: query
          name: service
          description: Filter by watcher service. Multiple values allowed.
          example: ["dta"]
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
      responses:
        "200":
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventList"
              example: {events: [], has_more: false}
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "VALIDATION_ERROR", message: "Invalid request parameters."}
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}

  /channels/{channel_id}/events/search/{event_id}:
    get:
      tags:
        - Events
      operationId: getChannelEvent
      summary: Retrieves a specific event by ID from a channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          description: Unique channel identifier.
          schema:
            type: string
            format: uuid
        - in: path
          name: event_id
          required: true
          description: Unique event identifier.
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Event found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
              example: {event_id: "d290f1ee-6c54-4b01-90e6-d701748f0851", payload: {status: "confirmed", status_reason: "", operation_id: "c1e5b8d0-1234-5678-abcd-ef0123456789", wallet_operation_id: "op-12345", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", chain_selector: "16015286601757825753", timestamp: 1715698800}, headers: {type: "operation.status", offset: 1, proofs: []}}
        "404":
          description: Channel or event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "NOT_FOUND", message: "The requested resource was not found."}
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
              example: {type: "INTERNAL_ERROR", message: "An internal error occurred."}

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Send `Authorization: Apikey <api-key>`.
  schemas:
    WalletStatus:
      type: string
      description: Status of a wallet entity
      enum:
        - pending
        - deploying
        - deployed
        - archived
        - failed
      example: "pending"
    WalletEventStatus:
      type: string
      description: Status of a wallet in events (includes archived state for filtering)
      enum:
        - pending
        - deploying
        - deployed
        - failed
        - archived
      example: "pending"
    WatcherStatus:
      type: string
      description: Status of a watcher entity
      enum:
        - pending
        - active
        - failed
        - archiving
        - archived
      x-enum-varnames:
        - WatcherStatusPending
        - WatcherStatusActive
        - WatcherStatusFailed
        - WatcherStatusArchiving
        - WatcherStatusArchived
      example: "pending"
    WatcherEventStatus:
      type: string
      description: Status of a watcher in events (includes transitional and archival states for filtering)
      enum:
        - pending
        - active
        - failed
        - archiving
        - archive_failed
        - archived
      example: "pending"
    OperationStatus:
      type: string
      description: Status of an operation
      enum:
        - accepted
        - pending_signature
        - sending
        - sent
        - broadcasting
        - confirmed
        - cancelled
        - expired
        - failed
      example: "accepted"
    SubjectType:
      type: string
      description: Type of subject used for audit identity and filtering.
      enum:
        - api_key
        - user
      x-enum-varnames:
        - SubjectTypeApiKey
        - SubjectTypeUser
      example: "api_key"
    WalletType:
      type: string
      description: Type of wallet
      enum:
        - ecdsa
        - rsa
      example: "ecdsa"
    EventType:
      type: string
      description: Type of event
      enum:
        - operation.status
        - watcher.status
        - watcher.event
        - wallet.status
      # Custom varnames to avoid Go naming collision with OperationStatus, WatcherStatus, WalletStatus types
      x-enum-varnames:
        - EventTypeOperationStatus
        - EventTypeWatcherStatus
        - EventTypeWatcherEvent
        - EventTypeWalletStatus
    EthereumAddress:
      type: string
      description: 42-character hex Ethereum address
      pattern: "^0x[a-fA-F0-9]{40}$"
      example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
    RSAPublicKey:
      type: object
      description: RSA public key with exponent and modulus
      example: {e: "0x010001", n: "0x00c458b08a5b7939c97a5611389823468087f90918712a20166d3215917263548596071234567890abcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdef"}
      properties:
        e:
          type: string
          description: RSA public exponent (hex encoded, 2-17 bytes)
          example: "0x010001"
          ## For the public exponent (e), the common and recommended values
          ## result in an exact size of 3 or 4 bytes in encoded form.
          ## Max 17 bytes. in rare or custom implementations, it could be a
          ## large number up to the size of the modulus itself, i.e., hundreds
          ## of bytes (e.g., 256 bytes for a 2048-bit key). However, this is
          ## avoided in modern practice because it makes public key operations
          ## (encryption/signature verification) much slower without improving
          ## security
          ## bytes*2 for hex representation.
          pattern: "^0x[a-fA-F0-9]{2,34}$"
        n:
          type: string
          description: RSA modulus (hex encoded, min 2048 bits)
          example: "0x00c458b08a5b7939c97a5611389823468087f90918712a20166d3215917263548596071234567890abcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdef"
          ## 1024 bit keys are less secure. Only 2048 bit keys or 4096 bit RSA
          ## keys are supported. Modulus = (number_of_bits / 8) bytes =
          ## bytes*2 for hex representation.
          pattern: "^0x[a-fA-F0-9]{512,}$"
      required:
        - e
        - n
    RSASignersList:
      type: array
      description: List of allowed RSA public signing keys
      items:
        $ref: "#/components/schemas/RSAPublicKey"
      minItems: 0
      maxItems: 10
      uniqueItems: true
      example:
        - e: "0x010001"
          n: "0x00c458b08a5b7939c97a5611389823468087f90918712a20166d3215917263548596071234567890abcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdef"
    ECDSASignersList:
      type: array
      description: List of allowed ECDSA public signing keys (Ethereum addresses)
      items:
        $ref: "#/components/schemas/EthereumAddress"
      minItems: 0
      maxItems: 10
      uniqueItems: true
      example:
        - "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
        - "0x70997970C51812dc3A010C7d01b50e0d17dc79C8"
    ChainSelector:
      type: string
      description: Chain selector identifier for the blockchain network
      example: "16015286601757825753"
    Timestamp:
      type: integer
      format: int64
      description: Unix timestamp in seconds
      example: 1601528660
    HealthCheck:
      description: Health check response.
      type: object
      properties:
        status:
          type: string
          example: "ok"
      required:
        - status
    CreateWallet:
      description: Request body for creating a new wallet.
      type: object
      properties:
        name:
          type: string
          description: Name of the wallet
          example: "my-wallet"
        description:
          type: string
          description: Description of the wallet
          example: "My wallet description"
        wallet_owner_address:
          $ref: "#/components/schemas/EthereumAddress"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        wallet_type:
          $ref: "#/components/schemas/WalletType"
        allowed_rsa_signers:
          $ref: "#/components/schemas/RSASignersList"
        allowed_ecdsa_signers:
          $ref: "#/components/schemas/ECDSASignersList"
        status_channel_id:
          type: string
          format: uuid
          description: Unique identifier for the channel where the wallet status will be published
          example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
      required:
        - name
        - wallet_owner_address
        - chain_selector
        - wallet_type
    UpdateWallet:
      description: Request body for updating a wallet.
      type: object
      properties:
        name:
          type: string
          description: New name for the wallet
          example: "my-wallet"
          minLength: 1
          maxLength: 255
          pattern: '.*\S.*'
        description:
          type: string
          description: New description for the wallet. Send empty string to clear.
          example: "My wallet description"
          maxLength: 255
        status:
          $ref: "#/components/schemas/WalletStatus"
    UpdateWatcher:
      description: Request body for updating a watcher.
      type: object
      properties:
        name:
          type: string
          description: New name for the watcher
          example: "my-watcher"
          minLength: 1
          maxLength: 255
          pattern: '.*\S.*'
        status:
          $ref: "#/components/schemas/WatcherStatus"
    Wallet:
      description: A wallet resource.
      type: object
      properties:
        wallet_id:
          type: string
          format: uuid
          description: Unique identifier for the wallet
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        name:
          type: string
          description: Name of the wallet
          example: "my-wallet"
        description:
          type: string
          description: Description of the wallet
          example: "My wallet description"
        address:
          $ref: "#/components/schemas/EthereumAddress"
        wallet_owner_address:
          $ref: "#/components/schemas/EthereumAddress"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        wallet_type:
          $ref: "#/components/schemas/WalletType"
        status:
          $ref: "#/components/schemas/WalletStatus"
        status_channel_id:
          type: string
          format: uuid
          description: Channel ID where wallet status events are published
          example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
        allowed_rsa_signers:
          $ref: "#/components/schemas/RSASignersList"
        allowed_ecdsa_signers:
          $ref: "#/components/schemas/ECDSASignersList"
        created_at:
          $ref: "#/components/schemas/Timestamp"
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - wallet_id
        - name
        - address
        - chain_selector
        - wallet_type
        - wallet_owner_address
        - status
        - allowed_rsa_signers
        - allowed_ecdsa_signers
    WalletList:
      description: Paginated list of wallets.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Wallet"
          example: []
        has_more:
          type: boolean
          description: True if there are more wallets to fetch
          example: false
      required:
        - data
        - has_more

    Network:
      description: A blockchain network supported by CRE Connect.
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the network
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        name:
          type: string
          description: Name of the network
          example: "Sepolia"
        chain_selector:
          type: string
          description: Chain selector identifier
          example: "16015286601757825753"
        chain_id:
          type: string
          description: Chain ID identifier
          example: "11155111"
        chain_family:
          type: string
          description: Chain family (e.g., "evm", "solana")
          example: "evm"
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the network was created
          example: 1715698800
        updated_at:
          type: integer
          format: int64
          description: Timestamp of when the network was last updated
          example: 1715698800
        type:
          $ref: "#/components/schemas/NetworkType"
        default_confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - id
        - name
        - chain_selector
        - chain_id
        - chain_family
        - created_at
        - updated_at
    NetworkList:
      description: Paginated list of networks.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Network"
          example: []
        has_more:
          type: boolean
          description: True if there are more networks to fetch
          example: false
      required:
        - data
        - has_more

    TransactionPreview:
      type: object
      additionalProperties: false
      description: Preview metadata attached to a draft transaction before signing.
      properties:
        function_signature:
          type: string
          description: Function signature used to build the transaction preview.
        metadata:
          type: object
          description: Optional arbitrary metadata attached to the preview.
          additionalProperties: true
      required:
        - function_signature

    TransactionPreviewSnapshot:
      type: object
      additionalProperties: false
      description: Snapshot of the preview captured after the operation is read back.
      properties:
        function_signature:
          type: string
          description: Function signature used to build the snapshot.
        execution_values:
          type: object
          description: Resolved execution values captured during previewing. It will be an empty map when the function has no parameters.
          additionalProperties: true
        metadata:
          type: object
          description: Optional arbitrary metadata captured with the snapshot.
          additionalProperties: true
      required:
        - function_signature
        - execution_values

    TransactionRequest:
      type: object
      description: Transaction payload for operation creation.
      properties:
        to:
          type: string
          description: Address receiving the transaction
        value:
          type: string
          description: Amount of native token value being sent in the transaction
        data:
          type: string
          description: Hex-encoded calldata for the transaction
        preview:
          $ref: "#/components/schemas/TransactionPreview"
      required:
        - to
        - value
        - data

    Transaction:
      type: object
      description: Transaction payload returned by operation reads and events.
      properties:
        to:
          type: string
          description: Address receiving the transaction
        value:
          type: string
          description: Amount of native token value being sent in the transaction
        data:
          type: string
          description: Hex-encoded calldata for the transaction
        preview_snapshot:
          $ref: "#/components/schemas/TransactionPreviewSnapshot"
      required:
        - to
        - value
        - data
    ApplicationError:
      description: Standard error response body.
      type: object
      properties:
        type:
          type: string
          description: Error type
          example: "NOT_FOUND"
          enum:
            - "NOT_FOUND"
            - "VALIDATION_ERROR"
            - "CONFLICT"
            - "INTERNAL_ERROR"
        message:
          type: string
          description: Error message describing the issue
          example: "The requested resource was not found."
      required:
        - type
        - message
    CreateChannel:
      description: Request body for creating a new channel.
      type: object
      properties:
        name:
          type: string
          description: Name of the channel
          example: "my-channel"
        description:
          type: string
          description: Description of the channel
          example: "My channel description"
      required:
        - name
    PatchChannel:
      description: Request body for updating a channel.
      type: object
      properties:
        name:
          type: string
          description: New name for the channel
          example: "my-channel"
          minLength: 1
          maxLength: 255
          pattern: '.*\S.*'
        description:
          type: string
          description: New description for the channel. Send empty string to clear.
          example: "My channel description"
          maxLength: 255
        status:
          $ref: "#/components/schemas/ChannelStatus"
    Channel:
      description: A channel resource.
      type: object
      properties:
        channel_id:
          type: string
          format: uuid
          description: Unique identifier for the channel
          example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
        name:
          type: string
          description: Name of the channel
          example: "my-channel"
        description:
          type: string
          description: Description of the channel
          example: "My channel description"
        status:
          $ref: "#/components/schemas/ChannelStatus"
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the channel was created
          example: 1715698800
      required:
        - channel_id
        - name
        - status
        - created_at
    ChannelList:
      description: Paginated list of channels.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
          example: []
        has_more:
          type: boolean
          description: True if there are more channels to fetch
          example: false
      required:
        - data
        - has_more
    CreateWatcher:
      description: Request body for creating a new watcher (service-based or ABI-based).
      oneOf:
        - $ref: "#/components/schemas/CreateWatcherWithService"
        - $ref: "#/components/schemas/CreateWatcherWithABI"
    CreateWatcherWithService:
      description: Watcher creation parameters using a named service namespace.
      type: object
      properties:
        name:
          type: string
          description: Name for the watcher to help identify it
          minLength: 4
        chain_selector:
          type: string
          description: The chain selector to identify the chain where the watcher will run
        address:
          type: string
          description: Smart contract address to watch for events
        service:
          type: string
          description: Service service namespace (e.g., "dvp", "dta")
          example: "dta"
        events:
          type: array
          items:
            type: string
          description: List of event names to watch for within the service
          minItems: 1
        service_config:
          type: object
          description: Optional service-specific configuration (e.g. secondary contract addresses)
          additionalProperties: true
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - name
        - chain_selector
        - address
        - service
        - events
    CreateWatcherWithABI:
      description: Watcher creation parameters using a raw ABI definition.
      type: object
      properties:
        name:
          type: string
          description: Name for the watcher to help identify it
          minLength: 4
        chain_selector:
          type: string
          description: The chain selector to identify the chain where the watcher will run
        address:
          type: string
          description: Smart contract address to watch for events
        events:
          type: array
          items:
            type: string
          description: List of event names to watch for
          minItems: 1
        abi:
          type: array
          items:
            $ref: "#/components/schemas/EventABI"
          description: ABI definitions for the events to watch
          minItems: 1
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - name
        - chain_selector
        - address
        - events
        - abi
    EventABI:
      description: ABI definition for a smart contract event.
      type: object
      properties:
        anonymous:
          type: boolean
          description: Whether the event is anonymous
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/EventABIInput"
          description: Event input parameters
        name:
          type: string
          description: Name of the event
        type:
          type: string
          enum: ["event"]
          description: Type must be 'event'
      required:
        - anonymous
        - inputs
        - name
        - type
    EventABIInput:
      description: A single input parameter in an event ABI.
      type: object
      properties:
        indexed:
          type: boolean
          description: Whether the parameter is indexed
        internalType:
          type: string
          description: Internal Solidity type
        name:
          type: string
          description: Parameter name
        type:
          type: string
          description: Parameter type
      required:
        - indexed
        - internalType
        - name
        - type
    Watcher:
      description: A watcher resource.
      type: object
      properties:
        watcher_id:
          type: string
          format: uuid
          description: Unique identifier for the watcher
          example: "a8098c1a-f86e-11da-bd1a-00112444be1e"
        name:
          type: string
          description: Name of the watcher for identification
          example: "my-watcher"
        channel_id:
          type: string
          format: uuid
          description: ID of the channel this watcher belongs to
          example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the watcher was created
          example: 1715698800
        status:
          $ref: "#/components/schemas/WatcherStatus"
        chain_selector:
          type: string
          description: The chain selector to identify the chain where the watcher will run
          example: "16015286601757825753"
        address:
          type: string
          description: Smart contract address being watched
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        service:
          type: string
          description: Service service namespace (if using service-based events)
          example: "dta"
        events:
          type: array
          items:
            type: string
          description: List of event names being watched
          example: ["SubscriptionRequested"]
        abi:
          type: array
          items:
            $ref: "#/components/schemas/EventABI"
          description: ABI definitions for the events (if not using service-based events)
          example: []
        don_family:
          type: string
          description: DON family the watcher's workflow runs on (e.g., "zone-a"). Used to identify which DON nodes signed the events.
          example: "zone-a"
        service_config:
          type: object
          description: Optional service-specific configuration (e.g. secondary contract addresses)
          additionalProperties: true
          example: {}
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - watcher_id
        - channel_id
        - created_at
        - status
        - chain_selector
        - address
        - events
        - don_family
        - confidence_level
    WatcherSummary:
      description: Summary view of a watcher.
      type: object
      properties:
        watcher_id:
          type: string
          format: uuid
          description: Unique identifier for the watcher
          example: "a8098c1a-f86e-11da-bd1a-00112444be1e"
        name:
          type: string
          description: Name of the watcher for identification
          example: "my-watcher"
        channel_id:
          type: string
          format: uuid
          description: ID of the channel this watcher belongs to
          example: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the watcher was created
          example: 1715698800
        status:
          $ref: "#/components/schemas/WatcherStatus"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        address:
          type: string
          description: Smart contract address being watched
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        service:
          type: string
          description: Service service namespace (if using service-based events)
          example: "dta"
        don_family:
          type: string
          description: DON family the watcher's workflow runs on (e.g., "zone-a"). Used to identify which DON nodes signed the events.
          example: "zone-a"
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - watcher_id
        - channel_id
        - created_at
        - status
        - chain_selector
        - address
        - don_family
        - confidence_level
    WatcherList:
      description: Paginated list of watchers.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WatcherSummary"
          example: []
        has_more:
          type: boolean
          description: True if there are more watchers to fetch
          example: false
      required:
        - data
        - has_more
    CreateOperation:
      type: object
      description: Request body for creating a signed operation or a draft when the signature is omitted.
      properties:
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        address:
          type: string
          description: Wallet address performing the operation
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        wallet_operation_id:
          type: string
          description: Unique wallet operation identifier
          example: "op-12345"
        deadline:
          type: integer
          format: int64
          description: Unix timestamp deadline for the operation. A value of 0 means no expiration.
          example: 0
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/TransactionRequest"
          description: List of transactions to execute. Each transaction may include optional preview data.
          example: [{to: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", value: "0", data: "0x"}]
          minItems: 1
        signature:
          type: string
          description: EIP-712 signature of the operation. Optional for draft creation.
          example: "0xabcdef..."
      required:
        - chain_selector
        - address
        - wallet_operation_id
        - deadline
        - transactions
    Operation:
      description: A signed operation resource.
      type: object
      properties:
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation
          example: "c1e5b8d0-1234-5678-abcd-ef0123456789"
        status:
          $ref: "#/components/schemas/OperationStatus"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        address:
          type: string
          description: Wallet address performing the operation
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        wallet_operation_id:
          type: string
          description: Unique wallet operation identifier
          example: "op-12345"
        deadline:
          type: integer
          format: int64
          description: Unix timestamp deadline for the operation. A value of 0 means no expiration.
          example: 0
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/Transaction"
          description: List of transactions associated with the operation.
          example: []
        signature:
          # switch to type: [string, "null"] when upgrading to OpenAPI 3.1.2
          type: string
          nullable: true
          description: EIP-712 signature of the operation. Draft rows may have a null signature until finalized.
          example: null
        digest:
          # switch to type: [string, "null"] when upgrading to OpenAPI 3.1.2
          type: string
          nullable: true
          description: Signing digest for the finalized operation.
          example: null
        initiator:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Subject"
        signer:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Subject"
        canceller:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/Subject"
        signed_at:
          $ref: "#/components/schemas/Timestamp"
        cancelled_at:
          $ref: "#/components/schemas/Timestamp"
        created_at:
          $ref: "#/components/schemas/Timestamp"
      required:
        - operation_id
        - status
        - chain_selector
        - address
        - wallet_operation_id
        - deadline
        - transactions
        - signature
        - created_at
    OperationResponse:
      description: Response body for a created operation.
      type: object
      properties:
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation
          example: "c1e5b8d0-1234-5678-abcd-ef0123456789"
      required:
        - operation_id
    OperationList:
      description: Paginated list of operations.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Operation"
          example: []
        has_more:
          type: boolean
          description: True if there are more operations to fetch
          example: false
      required:
        - data
        - has_more
    Subject:
      type: object
      additionalProperties: false
      description: Subject used to describe who initiated, signed, or cancelled an operation. `subject_name` is informational; `subject_id` remains the stable identifier for filtering and equality.
      properties:
        subject_type:
          $ref: "#/components/schemas/SubjectType"
        subject_id:
          type: string
          description: Stable subject identifier used for filtering and equality.
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        subject_name:
          type: string
          description: Human-friendly subject name.
          example: "my-wallet"
      required:
        - subject_type
        - subject_id
        - subject_name
    FinalizeOperation:
      type: object
      additionalProperties: false
      description: PATCH body for finalizing a pending operation.
      properties:
        status:
          type: string
          enum:
            - accepted
          description: Marks the operation as accepted/finalized.
          example: "accepted"
        signature:
          type: string
          description: Final signature returned by the signing flow.
          example: "0xabcdef..."
        digest:
          type: string
          description: Digest associated with the finalized operation.
          example: "0x1234..."
      required:
        - status
        - signature
        - digest
    CancelOperation:
      type: object
      additionalProperties: false
      description: PATCH body for cancelling a pending operation.
      properties:
        status:
          type: string
          enum:
            - cancelled
          description: Marks the operation as cancelled.
          example: "cancelled"
      required:
        - status
    PatchOperation:
      oneOf:
        - $ref: "#/components/schemas/FinalizeOperation"
        - $ref: "#/components/schemas/CancelOperation"
      discriminator:
        propertyName: status
        mapping:
          accepted: "#/components/schemas/FinalizeOperation"
          cancelled: "#/components/schemas/CancelOperation"
      description: PATCH body for finalizing or cancelling an operation.
    EventList:
      description: Paginated list of events.
      type: object
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
          example: []
        has_more:
          type: boolean
          description: True if there are more events to fetch
          example: false
      required:
        - events
        - has_more
    Event:
      description: A channel event containing a typed payload and headers.
      type: object
      properties:
        event_id:
          type: string
          format: uuid
          description: Unique identifier for the event
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        payload:
          description: "Event payload object; use headers.type to determine the variant (operation.status → OperationStatusPayload, watcher.status → WatcherStatusPayload, watcher.event → WatcherEventPayload, wallet.status → WalletStatusPayload). "
          example: {status: "confirmed", status_reason: "", operation_id: "c1e5b8d0-1234-5678-abcd-ef0123456789", wallet_operation_id: "op-12345", address: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e", chain_selector: "16015286601757825753", timestamp: 1715698800}
          oneOf:
            - $ref: "#/components/schemas/OperationStatusPayload"
            - $ref: "#/components/schemas/WatcherStatusPayload"
            - $ref: "#/components/schemas/WatcherEventPayload"
            - $ref: "#/components/schemas/WalletStatusPayload"
        headers:
          $ref: "#/components/schemas/EventHeaders"
      required:
        - payload
        - headers
    EventHeaders:
      description: Metadata headers for an event, including type discriminator and proofs.
      type: object
      properties:
        type:
          $ref: "#/components/schemas/EventType"
        offset:
          type: integer
          format: int64
          description: Unique offset for message ordering
          example: 1
        proofs:
          type: array
          items:
            anyOf:
              - $ref: "#/components/schemas/OCRProof"
              - type: object
                description: Generic proof object for future extensibility
                additionalProperties: true
          example: []
      required:
        - type
        - offset
        - proofs
      example:
        type: "operation.status"
        offset: 15520
        proofs:
          - alg: "keccak256"
            ocr_report: "0x00010203"
            ocr_context: "0x0a0b0c"
            signatures:
              - "0x789abc"
    OCRProof:
      description: An OCR-based cryptographic proof attached to a verifiable event.
      type: object
      properties:
        alg:
          type: string
          description: Algorithm used for the proof
          example: "ocr2vrf"
        ocr_report:
          type: string
          description: OCR report data
          example: "0xabc123..."
        ocr_context:
          type: string
          description: OCR context data
          example: "0xdef456..."
        signatures:
          type: array
          items:
            type: string
          description: Array of signatures
          example: []
      required:
        - alg
        - ocr_report
        - ocr_context
        - signatures
    OperationStatusPayload:
      description: Event payload for an operation status change.
      type: object
      properties:
        status:
          $ref: "#/components/schemas/OperationStatus"
        status_reason:
          type: string
          description: Reason for the status
          example: "Resource not found"
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation
          example: "c1e5b8d0-1234-5678-abcd-ef0123456789"
        wallet_operation_id:
          type: string
          description: Wallet operation identifier
          example: "op-12345"
        address:
          type: string
          description: Wallet address performing the operation
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        digest:
          # switch to type: [string, "null"] when upgrading to OpenAPI 3.1.2
          type: string
          nullable: true
          description: Canonical signing digest for the operation.
          example: null
        transactions:
          # switch to type: [array, "null"] when upgrading to OpenAPI 3.1.2
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Transaction"
          description: Transactions associated with the event.
          example: []
        event_hash:
          type: string
          description: Verifiable event hash for reference (only present when status is confirmed)
          example: "0xabc123def456"
        verifiable_event:
          type: string
          description: Base64 encoded verifiable event for verification
          example: "eyJhbGciOiJFUzI1NiJ9..."
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
          example: "16015286601757825753"
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
          example: 1715698800
      required:
        - status
        - status_reason
        - operation_id
        - wallet_operation_id
        - address
        - chain_selector
        - timestamp
    WatcherStatusPayload:
      description: Event payload for a watcher status change.
      type: object
      properties:
        status:
          $ref: "#/components/schemas/WatcherEventStatus"
        status_reason:
          type: string
          description: Reason for the status
          example: "Resource not found"
        watcher_id:
          type: string
          description: Unique watcher identifier
          example: "a8098c1a-f86e-11da-bd1a-00112444be1e"
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
          example: "16015286601757825753"
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
          example: 1715698800
        service:
          type: string
          description: Service namespace of the watcher
          example: "dta"
      required:
        - status
        - status_reason
        - watcher_id
        - chain_selector
        - timestamp
    WatcherEventPayload:
      description: Event payload for an on-chain event detected by a watcher.
      type: object
      properties:
        watcher_id:
          type: string
          description: Unique watcher identifier
          example: "a8098c1a-f86e-11da-bd1a-00112444be1e"
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
          example: "16015286601757825753"
        event_hash:
          type: string
          description: Verifiable event hash
          example: "0xabc123def456"
        verifiable_event:
          type: string
          description: Base64 encoded verifiable event
          example: "eyJhbGciOiJFUzI1NiJ9..."
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
          example: 1715698800
      required:
        - watcher_id
        - event_hash
        - verifiable_event
        - chain_selector
        - timestamp
    WalletStatusPayload:
      description: Event payload for a wallet status change.
      type: object
      properties:
        status:
          $ref: "#/components/schemas/WalletEventStatus"
        status_reason:
          type: string
          description: Reason for the status
          example: "Resource not found"
        address:
          type: string
          description: Wallet address performing the operation
          example: "0x742d35Cc6634C0532925a3b844Bc454e4438f44e"
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
          example: "16015286601757825753"
        wallet_id:
          type: string
          format: uuid
          description: Unique identifier for the wallet
          example: "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
          example: 1715698800
      required:
        - status
        - status_reason
        - wallet_id
        - address
        - chain_selector
        - timestamp
    ChannelStatus:
      type: string
      description: Status of a channel
      enum:
        - active
        - archived
      example: "active"
    ConfidenceLevel:
      type: string
      description: Confidence level. If not specified, the default confidence level for the network will be used.
      enum:
        - "latest"
        - "safe"
        - "finalized"
      example: "latest"
    NetworkType:
      type: string
      description: Type of chain
      enum:
        - "mainnet"
        - "testnet"
      example: "mainnet"
