openapi: 3.0.4
info:
  title: CRE Connect API
  version: 0.4.0
  description: API specification for CRE Connect resources

servers:
  - url: https://cre-connect.api.chain.link/v1
    description: CRE Connect base URL.
  - url: http://localhost:8080
    description: Local development.

tags:
  - name: Health
    description: Service health.
  - name: Networks
    description: Supported networks.
  - name: Wallets
    description: Wallet lifecycle.
  - name: Channels
    description: Channels for watchers, events, and operations.
  - name: Watchers
    description: Watchers scoped to a channel.
  - name: Operations
    description: Operations within a channel.
  - name: Queries
    description: Asynchronous chain queries scoped to a channel.
  - name: Events
    description: Events (poll and historical search).

paths:
  /health-check:
    get:
      tags:
        - Health
      operationId: getHealthCheck
      summary: Health check endpoint
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthCheck"

  /networks:
    get:
      tags:
        - Networks
      operationId: listNetworks
      summary: Retrieves available networks.
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NetworkList"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
  /wallets:
    post:
      tags:
        - Wallets
      operationId: createWallet
      summary: Creates a new wallet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWallet"
      responses:
        "201":
          description: Wallet created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    get:
      tags:
        - Wallets
      operationId: listWallets
      summary: Retrieves wallets for the organization.
      description: |
        Returns wallets for the organization. Archived wallets are excluded by default.
        To include archived wallets, explicitly specify the archived status in the status filter.
      parameters:
        - in: query
          name: name
          description: Filter wallets by name (case-insensitive partial match)
          schema:
            type: string
        - in: query
          name: chain_selector
          description: Filter wallets by chain selector
          schema:
            type: string
        - in: query
          name: owner
          description: Filter wallets by owner address
          schema:
            $ref: "#/components/schemas/EthereumAddress"
        - in: query
          name: address
          description: Filter wallets by wallet address
          schema:
            $ref: "#/components/schemas/EthereumAddress"
        - in: query
          name: type
          description: Filter wallets by type
          schema:
            $ref: "#/components/schemas/WalletType"
        - in: query
          name: status
          description: Filter wallets by status. Multiple values allowed. Archived wallets are excluded by default when no status filter is specified.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WalletStatus"
          style: form
          explode: true
        - in: query
          name: limit
          description: Maximum number of wallets to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - in: query
          name: offset
          description: Number of wallets to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletList"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
  /wallets/{wallet_id}:
    get:
      tags:
        - Wallets
      operationId: getWallet
      summary: Retrieves a specific wallet by ID.
      parameters:
        - in: path
          name: wallet_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Wallet found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    patch:
      tags:
        - Wallets
      operationId: updateWallet
      summary: Updates a wallet name.
      parameters:
        - in: path
          name: wallet_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWallet"
      responses:
        "200":
          description: Wallet updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Wallet"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels:
    post:
      tags:
        - Channels
      operationId: createChannel
      summary: Creates a new channel.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChannel"
      responses:
        "201":
          description: Channel created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    get:
      tags:
        - Channels
      operationId: listChannels
      summary: Retrieves channels for the organization.
      description: |
        Returns channels for the organization. Archived channels are excluded by default.
        To include archived channels, explicitly specify the archived status in the status filter.
      parameters:
        - in: query
          name: name
          description: Filter channels by name (case-insensitive partial match)
          schema:
            type: string
        - in: query
          name: status
          description: Filter channels by status. Multiple values allowed. Archived channels are excluded by default when no status filter is specified.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ChannelStatus"
          style: form
          explode: true
        - in: query
          name: limit
          description: Maximum number of channels to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - in: query
          name: offset
          description: Number of channels to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelList"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
  /channels/{channel_id}:
    get:
      tags:
        - Channels
      operationId: getChannel
      summary: Retrieves a specific channel by ID.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Channel found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    patch:
      tags:
        - Channels
      operationId: updateChannel
      summary: Updates a channel.
      description: |
        Updates channel properties. Can be used to update the name, description, or to transition the channel status (e.g., to archived).
        A channel cannot be archived if it has active watchers.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchChannel"
      responses:
        "200":
          description: Channel updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Channel"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels/{channel_id}/queries:
    post:
      tags:
        - Queries
      operationId: createQuery
      summary: Creates an asynchronous chain query under a channel.
      description: |
        Creates a channel-scoped Chain Query Request. New queries are rejected for archived channels.
        The customer-provided idempotency_key is scoped to the organization and channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateQuery"
      responses:
        "202":
          description: Query accepted for asynchronous execution.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryAcceptedResponse"
        "400":
          description: Invalid request data, unsupported query kind, invalid params, invalid calldata, invalid block selection, or archived channel.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "409":
          description: Idempotency key reused with a different canonical request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "429":
          description: Query create quota or workflow admission rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    get:
      tags:
        - Queries
      operationId: listQueries
      summary: Lists chain queries for a channel.
      description: |
        Returns request and lifecycle-focused query records for the channel.
        OCR proof material and opaque verifiable results are only returned by the individual query resource.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: status
          description: Filter queries by status. Multiple values allowed.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/QueryStatus"
          style: form
          explode: true
        - in: query
          name: limit
          description: Maximum number of queries to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - in: query
          name: offset
          description: Number of queries to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryList"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
  /channels/{channel_id}/queries/{query_id}:
    get:
      tags:
        - Queries
      operationId: getQuery
      summary: Retrieves a specific chain query by ID.
      description: |
        Returns request, lifecycle, expiration, and terminal verifiable fields from the query resource.
        Implementations must not hydrate terminal query details by querying channel events.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: query_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Query found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Query"
        "404":
          description: Channel or query not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels/{channel_id}/watchers:
    post:
      tags:
        - Watchers
      operationId: createWatcher
      summary: Creates a watcher in a channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWatcher"
      responses:
        "201":
          description: Watcher created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    get:
      tags:
        - Watchers
      operationId: listWatchers
      summary: Retrieves watchers for a channel.
      description: |
        Returns watchers for the specified channel. Archived watchers are excluded by default.
        To include archived watchers, explicitly specify the archived status in the status filter.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of watchers to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - in: query
          name: offset
          description: Number of watchers to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
        - in: query
          name: name
          description: Filter watchers by name (case-insensitive partial match)
          schema:
            type: string
        - in: query
          name: status
          description: Filter watchers by status. Multiple values allowed. Archived watchers are excluded by default when no status filter is specified.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/WatcherStatus"
          style: form
          explode: true
        - in: query
          name: chain_selector
          description: Filter watchers by chain selector
          schema:
            type: string
        - in: query
          name: address
          description: Filter watchers by contract address
          schema:
            type: string
        - in: query
          name: service
          description: Filter watchers by service. Multiple values allowed.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: event_name
          description: Filter watchers by event name
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WatcherList"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
  /channels/{channel_id}/watchers/{watcher_id}:
    get:
      tags:
        - Watchers
      operationId: getWatcher
      summary: Retrieves a specific watcher by ID.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: watcher_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Watcher found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
        "404":
          description: Channel or watcher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    patch:
      tags:
        - Watchers
      operationId: updateWatcher
      summary: Updates a watcher.
      description: |
        Updates watcher properties. Can be used to update the name or to transition the watcher status (e.g., to archived).
        When transitioning to archived status, the operation is asynchronous and returns 202 with the watcher in archiving state.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: watcher_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWatcher"
      responses:
        "200":
          description: Watcher updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
        "202":
          description: Archive request accepted. The watcher is transitioning to archived state asynchronously.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Watcher"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel or watcher not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels/{channel_id}/operations:
    post:
      tags:
        - Operations
      operationId: createOperation
      summary: Creates a signed operation or draft request, scoped to a channel.
      description: |
        Creates a signed or draft operation first, depending on the presence of a signature.
        Signed operations are relayed immediately. Drafts can be finalized or cancelled later.
        Each transaction may include an optional preview block.
        The operation is scoped to the channel, and will only be visible to the channel.

      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOperation"
      responses:
        "201":
          description: Operation created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResponse"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    get:
      tags:
        - Operations
      operationId: listOperations
      summary: Retrieves operations for a channel.
      description: |
        Returns operation records for the channel, including audit subjects and preview snapshots when available.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of operations to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - in: query
          name: offset
          description: Number of operations to skip for pagination
          schema:
            type: integer
            format: int64
            minimum: 0
            default: 0
        - in: query
          name: status
          description: Filter operations by status. Multiple values allowed.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/OperationStatus"
          style: form
          explode: true
        - in: query
          name: chain_selector
          description: Filter operations by chain selector
          schema:
            type: string
        - in: query
          name: address
          description: Filter operations by wallet address
          schema:
            type: string
        - in: query
          name: wallet_id
          description: Filter operations by wallet ID
          schema:
            type: string
            format: uuid
        - in: query
          name: initiator_subject_type
          description: Filter operations by initiator subject type.
          schema:
            $ref: "#/components/schemas/SubjectType"
        - in: query
          name: initiator_subject_id
          description: Filter operations by initiator subject ID.
          schema:
            type: string
        - in: query
          name: signer_subject_type
          description: Filter operations by signer subject type.
          schema:
            $ref: "#/components/schemas/SubjectType"
        - in: query
          name: signer_subject_id
          description: Filter operations by signer subject ID.
          schema:
            type: string
        - in: query
          name: canceller_subject_type
          description: Filter operations by canceller subject type.
          schema:
            $ref: "#/components/schemas/SubjectType"
        - in: query
          name: canceller_subject_id
          description: Filter operations by canceller subject ID.
          schema:
            type: string
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationList"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
  /channels/{channel_id}/operations/{operation_id}:
    get:
      tags:
        - Operations
      operationId: getOperation
      summary: Gets Operation record for a specific operation.
      description: |
        Returns the operation record.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: operation_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Operation found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
        "404":
          description: Channel or operation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
    patch:
      summary: Finalizes or cancels an operation.
      description: |
        Finalize by sending status accepted with signature and digest.
        Cancel by sending status cancelled with no additional fields.
        The request body is a oneOf with closed branches so invalid combinations and extra fields are rejected.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: operation_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchOperation"
      responses:
        "200":
          description: Operation updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
        "400":
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel or operation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "409":
          description: Operation could not be finalized or cancelled because.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels/{channel_id}/events:
    get:
      tags:
        - Events
      operationId: listChannelEvents
      summary: Retrieves events from a channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of events to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 200
        - in: query
          name: offset
          description: Offset for message-oriented pagination. If not provided, the API returns the latest limit events ordered by descending offset.
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        "200":
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventList"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels/{channel_id}/events/search:
    get:
      tags:
        - Events
      operationId: searchChannelEvents
      summary: Query and search historical events from a channel.
      description: |
        Retrieves events with filtering capabilities. Use this endpoint for historical queries and searches. For real-time polling, use the /events endpoint.

        Note: Some query parameters only apply to specific event types. Invalid parameter combinations for a given event type will result in a 400 Bad Request response:
        - operation.status: status, chain_selector, address, wallet_operation_id
        - query.status: status
        - watcher.status: watcher_id, status, chain_selector
        - watcher.event: watcher_id, chain_selector, address, event_name, service
        - wallet.status: wallet_id, status, chain_selector, address

        Universal parameters (apply to all types): type, limit, offset, created.*
        Query event payload filtering by query_id is not supported; fetch /channels/{channel_id}/queries/{query_id} when a query_id is already known.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          description: Maximum number of events to return
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
        - in: query
          name: offset
          description: Offset for message-oriented pagination
          schema:
            type: integer
            format: int64
            minimum: 0
        - in: query
          name: type
          description: Filter events by type. Multiple values allowed.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EventType"
          style: form
          explode: true
        - in: query
          name: created.lt
          description: Filter events created before this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: created.lte
          description: Filter events created at or before this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: created.gt
          description: Filter events created after this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: created.gte
          description: Filter events created at or after this timestamp
          schema:
            type: integer
            format: int64
        - in: query
          name: chain_selector
          description: Filter by chain selector
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: status
          description: Filter by lifecycle/status. Multiple values allowed. Applies to operation.status, query.status, watcher.status, and wallet.status.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - in: query
          name: watcher_id
          description: Filter by watcher ID (applies to watcher.status and watcher.event types)
          schema:
            type: string
            format: uuid
        - in: query
          name: wallet_id
          description: Filter by wallet ID (applies to wallet.status type)
          schema:
            type: string
            format: uuid
        - in: query
          name: address
          description: Filter by wallet address. Multiple values allowed.
          schema:
            type: array
            items:
              $ref: "#/components/schemas/EthereumAddress"
          style: form
          explode: true
        - in: query
          name: wallet_operation_id
          description: Filter by wallet operation ID (applies to operation.status type)
          schema:
            type: string
        - in: query
          name: operation_id
          description: Filter by operation ID (applies to operation.status type)
          schema:
            type: string
        - in: query
          name: event_name
          description: Filter by event name (applies to watcher.event type)
          schema:
            type: string
        - in: query
          name: service
          description: Filter by watcher service. Multiple values allowed.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
      responses:
        "200":
          description: Events retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventList"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "404":
          description: Channel not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

  /channels/{channel_id}/events/search/{event_id}:
    get:
      tags:
        - Events
      operationId: getChannelEvent
      summary: Retrieves a specific event by ID from a channel.
      parameters:
        - in: path
          name: channel_id
          required: true
          schema:
            type: string
            format: uuid
        - in: path
          name: event_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Event found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: Channel or event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationError"

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        Send `Authorization: Apikey <api-key>`.
  schemas:
    WalletStatus:
      type: string
      description: Status of a wallet entity
      enum:
        - pending
        - deploying
        - deployed
        - archived
        - failed
    WalletEventStatus:
      type: string
      description: Status of a wallet in events (includes archived state for filtering)
      enum:
        - pending
        - deploying
        - deployed
        - failed
        - archived
    WatcherStatus:
      type: string
      description: Status of a watcher entity
      enum:
        - pending
        - active
        - failed
        - archiving
        - archived
    WatcherEventStatus:
      type: string
      description: Status of a watcher in events (includes transitional and archival states for filtering)
      enum:
        - pending
        - active
        - failed
        - archiving
        - archive_failed
        - archived
    OperationStatus:
      type: string
      description: Status of an operation
      enum:
        - accepted
        - pending_signature
        - sending
        - sent
        - broadcasting
        - confirmed
        - cancelled
        - expired
        - failed
    QueryStatus:
      type: string
      description: Lifecycle status of a chain query.
      enum:
        - accepted
        - sending
        - sent
        - completed
        - failed
        - expired
      x-enum-varnames:
        - QueryStatusAccepted
        - QueryStatusSending
        - QueryStatusSent
        - QueryStatusCompleted
        - QueryStatusFailed
        - QueryStatusExpired
    QueryKind:
      type: string
      description: Kind of chain query.
      enum:
        - evm_call
      x-enum-varnames:
        - QueryKindEVMCall
    SubjectType:
      type: string
      description: Type of subject used for audit identity and filtering.
      enum:
        - api_key
        - user
      x-enum-varnames:
        - SubjectTypeApiKey
        - SubjectTypeUser
    WalletType:
      type: string
      description: Type of wallet
      enum:
        - ecdsa
        - rsa
    EventType:
      type: string
      description: Type of event
      enum:
        - operation.status
        - query.status
        - watcher.status
        - watcher.event
        - wallet.status
      # Custom varnames to avoid Go naming collision with OperationStatus, WatcherStatus, WalletStatus types
      x-enum-varnames:
        - EventTypeOperationStatus
        - EventTypeQueryStatus
        - EventTypeWatcherStatus
        - EventTypeWatcherEvent
        - EventTypeWalletStatus
    EthereumAddress:
      type: string
      description: 42-character hex Ethereum address
      pattern: "^0x[a-fA-F0-9]{40}$"
    RSAPublicKey:
      type: object
      description: RSA public key with exponent and modulus
      properties:
        e:
          type: string
          description: RSA public exponent (hex encoded, 2-17 bytes)
          ## For the public exponent (e), the common and recommended values
          ## result in an exact size of 3 or 4 bytes in encoded form.
          ## Max 17 bytes. in rare or custom implementations, it could be a
          ## large number up to the size of the modulus itself, i.e., hundreds
          ## of bytes (e.g., 256 bytes for a 2048-bit key). However, this is
          ## avoided in modern practice because it makes public key operations
          ## (encryption/signature verification) much slower without improving
          ## security
          ## bytes*2 for hex representation.
          pattern: "^0x[a-fA-F0-9]{2,34}$"
        n:
          type: string
          description: RSA modulus (hex encoded, min 2048 bits)
          ## 1024 bit keys are less secure. Only 2048 bit keys or 4096 bit RSA
          ## keys are supported. Modulus = (number_of_bits / 8) bytes =
          ## bytes*2 for hex representation.
          pattern: "^0x[a-fA-F0-9]{512,}$"
      required:
        - e
        - n
    RSASignersList:
      type: array
      description: List of allowed RSA public signing keys
      items:
        $ref: "#/components/schemas/RSAPublicKey"
      minItems: 0
      maxItems: 10
      uniqueItems: true
    ECDSASignersList:
      type: array
      description: List of allowed ECDSA public signing keys (Ethereum addresses)
      items:
        $ref: "#/components/schemas/EthereumAddress"
      minItems: 0
      maxItems: 10
      uniqueItems: true
    ChainSelector:
      type: string
      description: Chain selector identifier for the blockchain network
    Timestamp:
      type: integer
      format: int64
      description: Unix timestamp in seconds
    HealthCheck:
      type: object
      properties:
        status:
          type: string
          example: "ok"
      required:
        - status
    CreateWallet:
      type: object
      properties:
        name:
          type: string
          description: Name of the wallet
        description:
          type: string
          description: Description of the wallet
        wallet_owner_address:
          $ref: "#/components/schemas/EthereumAddress"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        wallet_type:
          $ref: "#/components/schemas/WalletType"
        allowed_rsa_signers:
          $ref: "#/components/schemas/RSASignersList"
        allowed_ecdsa_signers:
          $ref: "#/components/schemas/ECDSASignersList"
        status_channel_id:
          type: string
          format: uuid
          description: Unique identifier for the channel where the wallet status will be published
      required:
        - name
        - wallet_owner_address
        - chain_selector
        - wallet_type
    UpdateWallet:
      type: object
      properties:
        name:
          type: string
          description: New name for the wallet
          minLength: 1
          maxLength: 255
          pattern: '^(?!\s*$).+'
        description:
          type: string
          description: New description for the wallet
          minLength: 1
          maxLength: 255
          pattern: '^(?!\s*$).+'
        status:
          $ref: "#/components/schemas/WalletStatus"
    UpdateWatcher:
      type: object
      properties:
        name:
          type: string
          description: New name for the watcher
          minLength: 1
          maxLength: 255
          pattern: '^(?!\s*$).+'
        status:
          $ref: "#/components/schemas/WatcherStatus"
    Wallet:
      type: object
      properties:
        wallet_id:
          type: string
          format: uuid
          description: Unique identifier for the wallet
        name:
          type: string
          description: Name of the wallet
        description:
          type: string
          description: Description of the wallet
        address:
          $ref: "#/components/schemas/EthereumAddress"
        wallet_owner_address:
          $ref: "#/components/schemas/EthereumAddress"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        wallet_type:
          $ref: "#/components/schemas/WalletType"
        status:
          $ref: "#/components/schemas/WalletStatus"
        status_channel_id:
          type: string
          format: uuid
          description: Channel ID where wallet status events are published
        allowed_rsa_signers:
          $ref: "#/components/schemas/RSASignersList"
        allowed_ecdsa_signers:
          $ref: "#/components/schemas/ECDSASignersList"
        created_at:
          $ref: "#/components/schemas/Timestamp"
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - wallet_id
        - name
        - address
        - chain_selector
        - wallet_type
        - wallet_owner_address
        - status
        - allowed_rsa_signers
        - allowed_ecdsa_signers
    WalletList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Wallet"
        has_more:
          type: boolean
          description: True if there are more wallets to fetch
      required:
        - data
        - has_more

    Network:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier for the network
        name:
          type: string
          description: Name of the network
        chain_selector:
          type: string
          description: Chain selector identifier
        chain_id:
          type: string
          description: Chain ID identifier
        chain_family:
          type: string
          description: Chain family (e.g., "evm", "solana")
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the network was created
        updated_at:
          type: integer
          format: int64
          description: Timestamp of when the network was last updated
        type:
          $ref: "#/components/schemas/NetworkType"
        default_confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - id
        - name
        - chain_selector
        - chain_id
        - chain_family
        - created_at
        - updated_at
    NetworkList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Network"
        has_more:
          type: boolean
          description: True if there are more networks to fetch
      required:
        - data
        - has_more

    TransactionPreview:
      type: object
      additionalProperties: false
      description: Preview metadata attached to a draft transaction before signing.
      properties:
        function_signature:
          type: string
          description: Function signature used to build the transaction preview.
        metadata:
          type: object
          description: Optional arbitrary metadata attached to the preview.
          additionalProperties: true
      required:
        - function_signature

    TransactionPreviewSnapshot:
      type: object
      additionalProperties: false
      description: Snapshot of the preview captured after the operation is read back.
      properties:
        function_signature:
          type: string
          description: Function signature used to build the snapshot.
        execution_values:
          type: object
          description: Resolved execution values captured during previewing. It will be an empty map when the function has no parameters.
          additionalProperties: true
        metadata:
          type: object
          description: Optional arbitrary metadata captured with the snapshot.
          additionalProperties: true
      required:
        - function_signature
        - execution_values

    TransactionRequest:
      type: object
      description: Transaction payload for operation creation.
      properties:
        to:
          type: string
          description: Address receiving the transaction
        value:
          type: string
          description: Amount of native token value being sent in the transaction
        data:
          type: string
          description: Hex-encoded calldata for the transaction
        preview:
          $ref: "#/components/schemas/TransactionPreview"
      required:
        - to
        - value
        - data

    Transaction:
      type: object
      description: Transaction payload returned by operation reads and events.
      properties:
        to:
          type: string
          description: Address receiving the transaction
        value:
          type: string
          description: Amount of native token value being sent in the transaction
        data:
          type: string
          description: Hex-encoded calldata for the transaction
        preview_snapshot:
          $ref: "#/components/schemas/TransactionPreviewSnapshot"
      required:
        - to
        - value
        - data
    ApplicationError:
      type: object
      properties:
        type:
          type: string
          description: Error type
          enum:
            - "Already exists"
            - "Internal error"
            - "Not found"
            - "Bad request"
            - "Conflict"
            - "Rate limit exceeded"
        message:
          type: string
          description: Error message describing the issue
      required:
        - type
        - message
    CreateChannel:
      type: object
      properties:
        name:
          type: string
          description: Name of the channel
        description:
          type: string
          description: Description of the channel
      required:
        - name
    PatchChannel:
      type: object
      properties:
        name:
          type: string
          description: New name for the channel
          minLength: 1
          maxLength: 255
          pattern: '^(?!\s*$).+'
        description:
          type: string
          description: New description for the channel
          minLength: 1
          maxLength: 255
          pattern: '^(?!\s*$).+'
        status:
          $ref: "#/components/schemas/ChannelStatus"
    Channel:
      type: object
      properties:
        channel_id:
          type: string
          format: uuid
          description: Unique identifier for the channel
        name:
          type: string
          description: Name of the channel
        description:
          type: string
          description: Description of the channel
        status:
          $ref: "#/components/schemas/ChannelStatus"
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the channel was created
      required:
        - channel_id
        - name
        - status
        - created_at
    ChannelList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        has_more:
          type: boolean
          description: True if there are more channels to fetch
      required:
        - data
        - has_more

    CreateQuery:
      type: object
      additionalProperties: false
      description: Request body for creating an asynchronous chain query.
      properties:
        idempotency_key:
          type: string
          minLength: 1
          maxLength: 255
          description: Customer-provided idempotency key scoped to organization and channel.
        query_kind:
          $ref: "#/components/schemas/QueryKind"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        params:
          $ref: "#/components/schemas/EVMCallQueryParams"
        metadata:
          type: object
          description: Optional customer metadata. Not part of the signed query unless explicitly copied into verifiable_result by the workflow.
          additionalProperties: true
      required:
        - idempotency_key
        - query_kind
        - chain_selector
        - params

    EVMCallQueryParams:
      type: object
      additionalProperties: false
      description: Parameters for an evm_call chain query.
      properties:
        contract_address:
          $ref: "#/components/schemas/EthereumAddress"
        call_data:
          type: string
          description: 0x-prefixed even-length hex calldata bytes, including the function selector.
          pattern: "^0x([a-fA-F0-9]{2})*$"
        block_selection:
          $ref: "#/components/schemas/QueryBlockSelection"
        from_address:
          $ref: "#/components/schemas/EthereumAddress"
      required:
        - contract_address
        - call_data
        - block_selection

    QueryBlockSelection:
      oneOf:
        - $ref: "#/components/schemas/LatestBlockSelection"
        - $ref: "#/components/schemas/FinalizedBlockSelection"
        - $ref: "#/components/schemas/BlockNumberBlockSelection"
      discriminator:
        propertyName: type
        mapping:
          latest: "#/components/schemas/LatestBlockSelection"
          finalized: "#/components/schemas/FinalizedBlockSelection"
          block_number: "#/components/schemas/BlockNumberBlockSelection"
      description: Explicit block selector for a chain query. MVP supports latest, finalized, and explicit block_number only.

    LatestBlockSelection:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
            - latest
          description: Resolve latest to concrete block metadata before executing the call.
      required:
        - type

    FinalizedBlockSelection:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
            - finalized
          description: Resolve finalized to concrete block metadata before executing the call.
      required:
        - type

    BlockNumberBlockSelection:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
            - block_number
          description: Execute against an explicit block number after resolving header metadata.
        block_number:
          type: string
          pattern: "^[0-9]+$"
          description: Decimal uint64 block number.
      required:
        - type
        - block_number

    QueryAcceptedResponse:
      type: object
      properties:
        query_id:
          type: string
          format: uuid
          description: Unique identifier for the query.
        status:
          $ref: "#/components/schemas/QueryStatus"
      required:
        - query_id
        - status

    Query:
      type: object
      description: Chain query resource loaded from chain_queries.
      properties:
        query_id:
          type: string
          format: uuid
          description: Unique identifier for the query.
        channel_id:
          type: string
          format: uuid
          description: Channel that owns the query.
        status:
          $ref: "#/components/schemas/QueryStatus"
        query_kind:
          $ref: "#/components/schemas/QueryKind"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        status_event_id:
          type: string
          format: uuid
          description: Channel event ID for the latest terminal query.status event when available.
        status_event_offset:
          type: integer
          format: int64
          description: Channel event offset for the latest terminal query.status event when available.
        event_hash:
          type: string
          description: Verifiable event hash for the terminal query result.
        verifiable_result:
          type: string
          description: Opaque base64-encoded verifiable query result.
        proof:
          $ref: "#/components/schemas/OCRProof"
        error_code:
          type: string
          description: Terminal execution error code when the query failed.
        error_message:
          type: string
          description: Human-readable terminal execution error message when the query failed.
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
        expires_at:
          $ref: "#/components/schemas/Timestamp"
        accepted_at:
          $ref: "#/components/schemas/Timestamp"
        sending_at:
          $ref: "#/components/schemas/Timestamp"
        sent_at:
          $ref: "#/components/schemas/Timestamp"
        completed_at:
          $ref: "#/components/schemas/Timestamp"
        failed_at:
          $ref: "#/components/schemas/Timestamp"
        expired_at:
          $ref: "#/components/schemas/Timestamp"
      required:
        - query_id
        - channel_id
        - status
        - query_kind
        - chain_selector
        - created_at
        - updated_at

    QuerySummary:
      type: object
      description: Request and lifecycle-focused query summary for list responses.
      properties:
        query_id:
          type: string
          format: uuid
          description: Unique identifier for the query.
        channel_id:
          type: string
          format: uuid
          description: Channel that owns the query.
        status:
          $ref: "#/components/schemas/QueryStatus"
        query_kind:
          $ref: "#/components/schemas/QueryKind"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        error_code:
          type: string
          description: Terminal execution error code when the query failed.
        error_message:
          type: string
          description: Human-readable terminal execution error message when the query failed.
        created_at:
          $ref: "#/components/schemas/Timestamp"
        updated_at:
          $ref: "#/components/schemas/Timestamp"
        expires_at:
          $ref: "#/components/schemas/Timestamp"
        completed_at:
          $ref: "#/components/schemas/Timestamp"
        failed_at:
          $ref: "#/components/schemas/Timestamp"
        expired_at:
          $ref: "#/components/schemas/Timestamp"
      required:
        - query_id
        - channel_id
        - status
        - query_kind
        - chain_selector
        - created_at
        - updated_at

    QueryList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/QuerySummary"
        has_more:
          type: boolean
          description: True if there are more queries to fetch.
      required:
        - data
        - has_more

    CreateWatcher:
      oneOf:
        - $ref: "#/components/schemas/CreateWatcherWithService"
        - $ref: "#/components/schemas/CreateWatcherWithABI"
    CreateWatcherWithService:
      type: object
      properties:
        name:
          type: string
          description: Name for the watcher to help identify it
          minLength: 4
        chain_selector:
          type: string
          description: The chain selector to identify the chain where the watcher will run
        address:
          type: string
          description: Smart contract address to watch for events
        service:
          type: string
          description: Service service namespace (e.g., "dvp", "dta")
        events:
          type: array
          items:
            type: string
          description: List of event names to watch for within the service
          minItems: 1
        service_config:
          type: object
          description: Optional service-specific configuration (e.g. secondary contract addresses)
          additionalProperties: true
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - name
        - chain_selector
        - address
        - service
        - events
    CreateWatcherWithABI:
      type: object
      properties:
        name:
          type: string
          description: Name for the watcher to help identify it
          minLength: 4
        chain_selector:
          type: string
          description: The chain selector to identify the chain where the watcher will run
        address:
          type: string
          description: Smart contract address to watch for events
        events:
          type: array
          items:
            type: string
          description: List of event names to watch for
          minItems: 1
        abi:
          type: array
          items:
            $ref: "#/components/schemas/EventABI"
          description: ABI definitions for the events to watch
          minItems: 1
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - name
        - chain_selector
        - address
        - events
        - abi
    EventABI:
      type: object
      properties:
        anonymous:
          type: boolean
          description: Whether the event is anonymous
        inputs:
          type: array
          items:
            $ref: "#/components/schemas/EventABIInput"
          description: Event input parameters
        name:
          type: string
          description: Name of the event
        type:
          type: string
          enum: ["event"]
          description: Type must be 'event'
      required:
        - anonymous
        - inputs
        - name
        - type
    EventABIInput:
      type: object
      properties:
        indexed:
          type: boolean
          description: Whether the parameter is indexed
        internalType:
          type: string
          description: Internal Solidity type
        name:
          type: string
          description: Parameter name
        type:
          type: string
          description: Parameter type
      required:
        - indexed
        - internalType
        - name
        - type
    Watcher:
      type: object
      properties:
        watcher_id:
          type: string
          format: uuid
          description: Unique identifier for the watcher
        name:
          type: string
          description: Name of the watcher for identification
        channel_id:
          type: string
          format: uuid
          description: ID of the channel this watcher belongs to
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the watcher was created
        status:
          $ref: "#/components/schemas/WatcherStatus"
        chain_selector:
          type: string
          description: The chain selector to identify the chain where the watcher will run
        address:
          type: string
          description: Smart contract address being watched
        service:
          type: string
          description: Service service namespace (if using service-based events)
        events:
          type: array
          items:
            type: string
          description: List of event names being watched
        abi:
          type: array
          items:
            $ref: "#/components/schemas/EventABI"
          description: ABI definitions for the events (if not using service-based events)
        don_family:
          type: string
          description: DON family the watcher's workflow runs on (e.g., "zone-a"). Used to identify which DON nodes signed the events.
        service_config:
          type: object
          description: Optional service-specific configuration (e.g. secondary contract addresses)
          additionalProperties: true
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - watcher_id
        - channel_id
        - created_at
        - status
        - chain_selector
        - address
        - events
        - don_family
        - confidence_level
    WatcherSummary:
      type: object
      properties:
        watcher_id:
          type: string
          format: uuid
          description: Unique identifier for the watcher
        name:
          type: string
          description: Name of the watcher for identification
        channel_id:
          type: string
          format: uuid
          description: ID of the channel this watcher belongs to
        created_at:
          type: integer
          format: int64
          description: Timestamp of when the watcher was created
        status:
          $ref: "#/components/schemas/WatcherStatus"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        address:
          type: string
          description: Smart contract address being watched
        service:
          type: string
          description: Service service namespace (if using service-based events)
        don_family:
          type: string
          description: DON family the watcher's workflow runs on (e.g., "zone-a"). Used to identify which DON nodes signed the events.
        confidence_level:
          $ref: "#/components/schemas/ConfidenceLevel"
      required:
        - watcher_id
        - channel_id
        - created_at
        - status
        - chain_selector
        - address
        - don_family
        - confidence_level
    WatcherList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/WatcherSummary"
        has_more:
          type: boolean
          description: True if there are more watchers to fetch
      required:
        - data
        - has_more
    CreateOperation:
      type: object
      description: Request body for creating a signed operation or a draft when the signature is omitted.
      properties:
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        address:
          type: string
          description: Wallet address performing the operation
        wallet_operation_id:
          type: string
          description: Unique wallet operation identifier
        deadline:
          type: integer
          format: int64
          description: Unix timestamp deadline for the operation. A value of 0 means no expiration.
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/TransactionRequest"
          description: List of transactions to execute. Each transaction may include optional preview data.
          minItems: 1
        signature:
          type: string
          description: EIP-712 signature of the operation. Optional for draft creation.
      required:
        - chain_selector
        - address
        - wallet_operation_id
        - deadline
        - transactions
    Operation:
      type: object
      properties:
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation
        status:
          $ref: "#/components/schemas/OperationStatus"
        chain_selector:
          $ref: "#/components/schemas/ChainSelector"
        address:
          type: string
          description: Wallet address performing the operation
        wallet_operation_id:
          type: string
          description: Unique wallet operation identifier
        deadline:
          type: integer
          format: int64
          description: Unix timestamp deadline for the operation. A value of 0 means no expiration.
        transactions:
          type: array
          items:
            $ref: "#/components/schemas/Transaction"
          description: List of transactions associated with the operation.
        signature:
          type: string
          nullable: true
          description: EIP-712 signature of the operation. Draft rows may have a null signature until finalized.
        digest:
          type: string
          nullable: true
          description: Signing digest for the finalized operation.
        initiator:
          $ref: "#/components/schemas/Subject"
        signer:
          $ref: "#/components/schemas/Subject"
        canceller:
          $ref: "#/components/schemas/Subject"
        signed_at:
          $ref: "#/components/schemas/Timestamp"
        cancelled_at:
          $ref: "#/components/schemas/Timestamp"
        created_at:
          $ref: "#/components/schemas/Timestamp"
      required:
        - operation_id
        - status
        - chain_selector
        - address
        - wallet_operation_id
        - deadline
        - transactions
        - initiator
        - signature
        - created_at
    OperationResponse:
      type: object
      properties:
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation
      required:
        - operation_id
    OperationList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Operation"
        has_more:
          type: boolean
          description: True if there are more operations to fetch
      required:
        - data
        - has_more
    Subject:
      type: object
      additionalProperties: false
      description: Subject used to describe who initiated, signed, or cancelled an operation. `subject_name` is informational; `subject_id` remains the stable identifier for filtering and equality.
      properties:
        subject_type:
          $ref: "#/components/schemas/SubjectType"
        subject_id:
          type: string
          description: Stable subject identifier used for filtering and equality.
        subject_name:
          type: string
          description: Human-friendly subject name.
      required:
        - subject_type
        - subject_id
        - subject_name
    FinalizeOperation:
      type: object
      additionalProperties: false
      description: PATCH body for finalizing a pending operation.
      properties:
        status:
          type: string
          enum:
            - accepted
          description: Marks the operation as accepted/finalized.
        signature:
          type: string
          description: Final signature returned by the signing flow.
        digest:
          type: string
          description: Digest associated with the finalized operation.
      required:
        - status
        - signature
        - digest
    CancelOperation:
      type: object
      additionalProperties: false
      description: PATCH body for cancelling a pending operation.
      properties:
        status:
          type: string
          enum:
            - cancelled
          description: Marks the operation as cancelled.
      required:
        - status
    PatchOperation:
      oneOf:
        - $ref: "#/components/schemas/FinalizeOperation"
        - $ref: "#/components/schemas/CancelOperation"
      discriminator:
        propertyName: status
        mapping:
          accepted: "#/components/schemas/FinalizeOperation"
          cancelled: "#/components/schemas/CancelOperation"
      description: PATCH body for finalizing or cancelling an operation.
    EventList:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        has_more:
          type: boolean
          description: True if there are more events to fetch
      required:
        - events
        - has_more
    Event:
      type: object
      properties:
        event_id:
          type: string
          format: uuid
          description: Unique identifier for the event
        payload:
          oneOf:
            - $ref: "#/components/schemas/OperationStatusPayload"
            - $ref: "#/components/schemas/QueryStatusPayload"
            - $ref: "#/components/schemas/WatcherStatusPayload"
            - $ref: "#/components/schemas/WatcherEventPayload"
            - $ref: "#/components/schemas/WalletStatusPayload"
        headers:
          $ref: "#/components/schemas/EventHeaders"
      required:
        - payload
        - headers
    EventHeaders:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/EventType"
        offset:
          type: integer
          format: int64
          description: Unique offset for message ordering
        proofs:
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/OCRProof"
              - type: object
                description: Generic proof object for future extensibility
                additionalProperties: true
      required:
        - type
        - offset
        - proofs
    OCRProof:
      type: object
      properties:
        alg:
          type: string
          description: Algorithm used for the proof
        ocr_report:
          type: string
          description: OCR report data
        ocr_context:
          type: string
          description: OCR context data
        signatures:
          type: array
          items:
            type: string
          description: Array of signatures
      required:
        - alg
        - ocr_report
        - ocr_context
        - signatures
    OperationStatusPayload:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/OperationStatus"
        status_reason:
          type: string
          description: Reason for the status
        operation_id:
          type: string
          format: uuid
          description: Unique identifier for the operation
        wallet_operation_id:
          type: string
          description: Wallet operation identifier
        address:
          type: string
          description: Wallet address performing the operation
        digest:
          type: string
          nullable: true
          description: Canonical signing digest for the operation.
        transactions:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/Transaction"
          description: Transactions associated with the event.
        event_hash:
          type: string
          description: Verifiable event hash for reference (only present when status is confirmed)
        verifiable_event:
          type: string
          description: Base64 encoded verifiable event for verification
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
      required:
        - status
        - status_reason
        - operation_id
        - wallet_operation_id
        - address
        - chain_selector
        - timestamp
    QueryStatusPayload:
      type: object
      description: Minimal top-level payload for query.status channel events.
      properties:
        query_id:
          type: string
          format: uuid
          description: Unique identifier for the query.
        status:
          $ref: "#/components/schemas/QueryStatus"
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the status event was created.
        event_hash:
          type: string
          description: Verifiable event hash for terminal query status events.
        verifiable_result:
          type: string
          description: Opaque base64-encoded verifiable query result for terminal query status events.
      required:
        - query_id
        - status
        - timestamp
    WatcherStatusPayload:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/WatcherEventStatus"
        status_reason:
          type: string
          description: Reason for the status
        watcher_id:
          type: string
          description: Unique watcher identifier
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
        service:
          type: string
          description: Service namespace of the watcher
      required:
        - status
        - status_reason
        - watcher_id
        - chain_selector
        - timestamp
    WatcherEventPayload:
      type: object
      properties:
        watcher_id:
          type: string
          description: Unique watcher identifier
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
        event_hash:
          type: string
          description: Verifiable event hash
        verifiable_event:
          type: string
          description: Base64 encoded verifiable event
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
      required:
        - watcher_id
        - event_hash
        - verifiable_event
        - chain_selector
        - timestamp
    WalletStatusPayload:
      type: object
      properties:
        status:
          $ref: "#/components/schemas/WalletEventStatus"
        status_reason:
          type: string
          description: Reason for the status
        address:
          type: string
          description: Wallet address performing the operation
        chain_selector:
          type: string
          description: Chain selector identifier for the blockchain network
        wallet_id:
          type: string
          format: uuid
          description: Unique identifier for the wallet
        timestamp:
          type: integer
          format: int64
          description: Timestamp when the event was created
      required:
        - status
        - status_reason
        - wallet_id
        - address
        - chain_selector
        - timestamp
    ChannelStatus:
      type: string
      description: Status of a channel
      enum:
        - active
        - archived
    ConfidenceLevel:
      type: string
      description: Confidence level. If not specified, the default confidence level for the network will be used.
      enum:
        - "latest"
        - "safe"
        - "finalized"
    NetworkType:
      type: string
      description: Type of chain
      enum:
        - "mainnet"
        - "testnet"
